/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "ngx-toastr/toastr";

.ngx-pagination {
  a,
  button {
    color: #fff !important;

    &:hover {
      background: rgb(30, 64, 175) !important;
    }
  }

  .current {
    padding: 0.1875rem 0.625rem;
    background: rgb(30, 64, 175) !important;
    color: #fefefe;
    cursor: default;
  }
}
